* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #04AA6D;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  /*position: sticky;*/
  /*position: -webkit-sticky;*/
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.side li{
  list-style-type: none;
  text-decoration: none;
}

.side a:hover {
  text-decoration: none;
}

/* Main column */
.main {   
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: rgb(153, 153, 153);
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.imagen {
  border-radius: 5%;
  max-width: 100%;
  max-height: 100%;
}

.post {
  text-align: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
}

/* table */
table {
  position: relative;
  top:10%;
  width: 100%;
  text-align: center;
  border: 1px solid;
}

#experiencia {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#experiencia td, #experiencia th {
  border: 1px solid #ddd;
  padding: 8px;
}

#experiencia tr:nth-child(even){background-color: #f2f2f2;}

#experiencia tr:hover {background-color: #ddd;}

#experiencia th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
/* table */

/* listas  */
ol {
  list-style-position: inside;
  padding: 0;
  width: 100%;
}

.bodyLi {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}
/* listas  */

/* Footer */
#footer{
  background: #404040;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px
}

#footer .footer-newsletter{
  padding: 50px 0;background: #404040
}

#footer .footer-newsletter h4{
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600
}

#footer .footer-newsletter form{
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px
}

#footer .footer-newsletter form input[type="email"]{
  border: 0;
  padding: 8px;
  width: calc(100% - 140px)
}

#footer .footer-newsletter form input[type="submit"]{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px
}
  
#footer .footer-newsletter form input[type="submit"]:hover{
  background: #e6573f
}

#footer .footer-top{
  background: #3b3b3b;border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 60px 0 30px 0
}

#footer .footer-top .footer-info{
  margin-bottom: 30px
}

#footer .footer-top .footer-info h3{
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700
}

#footer .footer-top .footer-info p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff
}

#footer .footer-top .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #545454;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s
}

#footer .footer-top .social-links a:hover{
  background: #e96b56;
  color: #fff;
  text-decoration: none
}

#footer .footer-top h4{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px
}
#footer .footer-top .footer-links{
  margin-bottom: 30px
}

#footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0
}

#footer .footer-top .footer-links ul i{
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1
}

#footer .footer-top .footer-links ul li{
  padding: 10px 0;
  display: flex;
  align-items: center
}

#footer .footer-top .footer-links ul li:first-child{
  padding-top: 0
}

#footer .footer-top .footer-links ul a{
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1
}

#footer .footer-top .footer-links ul a:hover{
  color: #e96b56
}

#footer .footer-top .footer-contact{
  margin-bottom: 30px
}

#footer .footer-top .footer-contact p{
  line-height: 26px
}
  
#footer .copyright{
  text-align: center;
  padding-top: 30px
}
#footer .credits{
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff
}
/* Footer */

.content {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  margin: 2rem 0;
}